/.bloop/
/.metals/
/target/
*.swo
*.swp
/.bsp
# More metals ignores
/project/.bloop/
/project/metals.sbt
/project/project
/project/target
/project/build.properties

# IntelliJ
*.iml
/.idea/

# output
/ecma2020/target/streams/_global/ivyConfiguration/_global/streams