# Metals config files
.metals/
.bloop/
.ammonite/
metals.sbt
/target/
*.swo
*.swp
/.bsp

# scalafmt conf
*scala*.conf

# my template files
[0-9].*
**/testMain.scala
*.jar

# IDEA config
.idea/
.vscode/

# compiled file 
project
ecma2020/target

# logs
*.log

#experiment
experiment/benchmarks/
experiment/extracted/
experiment/smallbench/
experiment/*.zip

# .par
*.par