# Metals config files
.metals/
.bloop/
.ammonite/
metals.sbt
/target/
*.swo
*.swp
/.bsp

# scalafmt conf
*scala*.conf

# my template files
[0-9].*
**/testMain.scala
*.jar

# IDEA config
.idea/
.vscode/

# compiled file 
project
ecma2020/target

# logs
*.log
log.txt

#experiment
experiment/benchmarks
experiment/extracted
experiment/smallbench
experiment/count_benchmark
experiment/sanitized
experiment/res
experiment/*.zip
automatark_sml

# dot files
dot/

# compared solver binaries
SolverBinaries/